<div id="<%= dom_id macro %>">
  <p>
    <strong>Fat:</strong>
    <%= macro.fat %>
  </p>

  <p>
    <strong>Protein:</strong>
    <%= macro.protein %>
  </p>

  <p>
    <strong>Carb:</strong>
    <%= macro.carb %>
  </p>

  <p>
    <strong>Calories:</strong>
    <%= macro.calories %>
  </p>

  <p>
    <strong>Sugar:</strong>
    <%= macro.sugar %>
  </p>

  <p>
    <strong>Added sugar:</strong>
    <%= macro.added_sugar %>
  </p>

  <p>
    <strong>User:</strong>
    <%= macro.user_id %>
  </p>

</div>
