<div id="<%= dom_id target_macro %>">
  <p>
    <strong>Carb:</strong>
    <%= target_macro.carb %>
  </p>

  <p>
    <strong>Fat:</strong>
    <%= target_macro.fat %>
  </p>

  <p>
    <strong>Protein:</strong>
    <%= target_macro.protein %>
  </p>

  <p>
    <strong>Calories:</strong>
    <%= target_macro.calories %>
  </p>

  <p>
    <strong>User:</strong>
    <%= target_macro.user_id %>
  </p>

</div>
