<p style="color: green"><%= notice %></p>

<%= render @target_macro %>

<div>
  <%= link_to "Edit this target macro", edit_target_macro_path(@target_macro) %> |
  <%= link_to "Back to target macros", target_macros_path %>

  <%= button_to "Destroy this target macro", @target_macro, method: :delete %>
</div>
