<div class="container mt-3 bg-dark text-white">
  <div class="row mb-4">
    <div class="col">
      <h2 class="text-white">Target Macros</h2>
    </div>
    <div class="col text-end">
        <%= link_to "Edit Target Macros", edit_target_macro_path, class: "btn btn-primary", "data-bs-toggle": "modal", "data-bs-target": "#editTargetMacroModal", "data-url": edit_target_macro_path %>
    </div>
  </div>
  <div class="row text-center mb-4">
    <div class="col">
      <div class="card bg-secondary text-white">
        <div class="card-body">
          <h5 class="card-title">Fat</h5>
          <p class="card-text"><%= current_user.fat %> g</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card bg-secondary text-white">
        <div class="card-body">
          <h5 class="card-title">Carbs</h5>
          <p class="card-text"><%= current_user.carb %> g</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card bg-secondary text-white">
        <div class="card-body">
          <h5 class="card-title">Protein</h5>
          <p class="card-text"><%= current_user.protein %> g</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card bg-secondary text-white">
        <div class="card-body">
          <h5 class="card-title">BMR</h5>
          <p class="card-text"><%= current_user.bmr.round(2) %> cal</p>
        </div>
      </div>
    </div>
  </div>

  <% if @estimated_macros.present? %>
    <h2>Estimated Macros for Your Goals</h2>
    <div id="estimated-macros" class="row text-center mb-4">
      <div class="col">
        <div class="card bg-secondary text-white">
          <div class="card-body">
            <h5 class="card-title">Protein</h5>
            <p class="card-text"><%= @estimated_macros[:protein].round %> g</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card bg-secondary text-white">
          <div class="card-body">
            <h5 class="card-title">Carbs</h5>
            <p class="card-text"><%= @estimated_macros[:carb].round %> g</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card bg-secondary text-white">
          <div class="card-body">
            <h5 class="card-title">Fats</h5>
            <p class="card-text"><%= @estimated_macros[:fat].round %> g</p>
          </div>
        </div>
      </div>
  <% end %>
</div>






<div class="modal fade" id="editTargetMacroModal" tabindex="-1" aria-labelledby="editTargetMacroModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content bg-dark text-white">
      <div class="modal-header">
        <h5 class="modal-title" id="editTargetMacroModalLabel">Today's Macros</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= render 'form', macro: Macro.new %>
      </div>
    </div>
  </div>
</div>



<div class="modal fade" id="estimateMacrosModal" tabindex="-1" aria-labelledby="estimateMacrosModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content bg-dark text-white">
      <div class="modal-header">
        <h5 class="modal-title" id="estimateMacrosModalLabel">Estimate Macros</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= form_with url: target_macro_path, method: :post, local: true, data: { turbo: false } do |form| %>
          <div class="mb-3">
            <%= form.label :activity_level, class: 'form-label' %>
            <%= form.select :activity_level, options_for_select(['sedentary', 'lightly active', 'moderately active', 'very active', 'super active']), {}, class: 'form-select' %>
          </div>

          <div class="mb-3">
            <%= form.label :goal, class: 'form-label' %>
            <%= form.select :goal, options_for_select(['weight loss', 'muscle gain', 'maintenance']), {}, class: 'form-select' %>
          </div>

          <%= form.submit "Estimate Macros", class: 'btn btn-primary' %>
        <% end %>
      </div>
    </div>
  </div>
</div>