<div id="<%= dom_id metric %>">
  <p>
    <strong>Weight:</strong>
    <%= metric.weight %>
  </p>

  <p>
    <strong>Fat percentage:</strong>
    <%= metric.fat_percentage %>
  </p>

  <p>
    <strong>Muscle percentage:</strong>
    <%= metric.muscle_percentage %>
  </p>

  <p>
    <strong>User:</strong>
    <%= metric.user_id %>
  </p>

</div>
