<p style="color: green"><%= notice %></p>

<h1>Metrics</h1>

<%= line_chart @weight_by_day, id: "weight-chart", xtitle: "Date", ytitle: "Total Weight" %>
<%= line_chart @fat_percentage_by_day, id: "fat-percentage-chart", xtitle: "Date", ytitle: "Average Fat Percentage" %>
<%= line_chart @muscle_percentage_by_day, id: "muscle-percentage-chart", xtitle: "Date", ytitle: "Average Muscle Percentage" %>

<%= @weight_by_day %>
<div id="metrics">
  <% @metrics.each do |metric| %>
    <%= render metric %>
    <p>
      <%= link_to "Show this metric", metric %>
    </p>
  <% end %>
</div>

<%= link_to "New metric", new_metric_path %>
