<p style="color: green"><%= notice %></p>

<%= render @muscle_percentage %>

<div>
  <%= link_to "Edit this muscle percentage", edit_muscle_percentage_path(@muscle_percentage) %> |
  <%= link_to "Back to muscle percentages", muscle_percentages_path %>

  <%= button_to "Destroy this muscle percentage", @muscle_percentage, method: :delete %>
</div>
