<!DOCTYPE html>
<html>
  <head>
    <title>BodyTrackPro</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/js/all.min.js"></script>
    <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>

  </head>
  <body class="bg-dark text-white">
    <header>
      <%= render partial: "shared/navbar" %>
    </header>

    <% if notice %>
      <p class="alert alert-success text-dark"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger text-dark"><%= alert %></p>
    <% end %>

    <%= yield %>
  </body>
</html>
